
<div class="ui-widget-header align-globalfilter">
  <i class="fa fa-search search-globalfilter"></i>
  <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-dataTable [value]="rubs" [immutable]="false" selectionMode="single"
             sortMode="multiple" (onSort)="onSort($event)"
             [editable]="false"
             [(selection)]="selectedRub"
             (onRowDblclick)="onRowDblClickCRUD($event)"
             [paginator]="true" paginatorPosition="bottom" [responsive]="true" [rows]="5" [alwaysShowPaginator]="true"  [pageLinks]="3" [rowsPerPageOptions]="[5, 10,15,20]"
             [globalFilter]="gb"
             #datatable>
  <p-header>
    <div style="text-align:left">
      <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
    </div>
  </p-header>
  <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="col.sortable" [filter]="col.filter" [editable]="col.editable" [filterMatchMode]="col.filterMatchMode" [filterPlaceholder]="col.fPlaceholder"></p-column>
  <p-footer>
    <button pButton type="button" label="Add" icon="fa-plus" (click)="add()"></button>
    <button pButton type="button" label="Edit" icon="fa-pencil" (click)="edit()"
            [disabled]="!selectedRub"></button>
    <button pButton type="button" label="Remove" icon="fa-trash-o" (click)="remove()"
            [disabled]="!selectedRub"></button>
  </p-footer>
</p-dataTable>

<div *ngIf="!rubs" class="ui active dimmer">
  <div class="ui large text loader">Daten werden geladen...</div>
</div>
<p *ngIf="rubs && !rubs.length">Es wurden noch keine Rubs eingetragen.</p>
